# Build directory
build/
out/
x64/
x86/
Debug/
Release/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.tlog
*.lastbuildstate
*.idb
*.ilk
*.log
*.ipch
*.opensdf
*.sdf
*.sbr
*.bsc
*.pdb
*.pgc
*.pgd
*.rsp
*.wrn
*.vcxproj.user

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled files
*.exe
*.dll
*.so
*.o
*.obj
*.lib
*.exp
*.iobj
*.ipdb

# Precompiled headers
*.pch
*.gch

# Static analysis
*.nativecodeanalysis.xml
